@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

/* asterisco para hacer cambios universales */

body {
    background-color: var(--color-primario); /* fondo color */
    color:var(--color-secundario);
    box-sizing: border-box; 
    /* box-sizing es responsable de cómo se calculan el ancho y el alto totales de un elemento */
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;  /* 1 rem son 16px*/
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque {
    color:var(--color-terciario);
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
  }

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; /*estamos en aliniamiento vertical*/
    gap: 32px;
}

.presentacion__enlaces__subtitulos {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;  /*negrita de la typo*/
}

.presentacion__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0 ;   /*vertical horizontal*/
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;  /*para sacarle el subrrayado a la palabra del link*/
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;  /*estamos en aliniamiento horizontal*/
    gap: 10px;  /*espacio entre icono y palabra*/
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);  /*cambia de color el ancla cuando te posicionas sobre esta*/
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    background-color: var(--color-terciario);
    padding: 1.5rem 0;  /* espacio en objeto y borde de la caja o siguien objeto*/
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}